.backgroungContainer {
  height: 70vh;
  width: 50%;
  display: flex;
  background-color:  rgb(175, 238, 175);
  /* border: 2px solid var(--color-green); */
  box-shadow: rgba(175, 243, 186, 0.88) 0px 10px 20px 1px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-family: var(--font-h1);
}

.backgroungContainer > div {
  flex: 1; /* Split container into two halves */
  height: 100%;
  display: flex;
  align-items: center;
}

.backgroungContainer .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 90%; /* Optional: makes it a bit responsive */
}

.container {
  /* background: linear-gradient(180deg, var(--color-green) 0%, #ffffff 100%); */
  border-radius: 20px;
  padding: var(--spacing-2) calc(var(--spacing-2) + 10px);
  border: 5px solid var(--color-);
  /* box-shadow: rgba(133, 215, 147, 0.88) 0px 30px 30px -20px; */
  margin: var(--spacing-1);
  max-width: 400px;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  /* color: var(--color-green); */
  font-family: var(--font-body);
}

.form {
  margin-top: var(--spacing-1);
}

.form .input {
  width: 90%;
  background: var(--color-background);
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  margin-top: var(--spacing-1);
  box-shadow: #a7a9aa 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  font-size: var(--font-size-body);
  font-weight: 500;
  font-family: var(--font-body);
}

.form .input::placeholder {
  color: var(--color-font-secondary);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid var(--color-dark-green);
}

.form .create-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, var(--color-green), #58d112);
  color: var(--color-background);
  padding-block: 15px;
  margin: var(--spacing-1) auto;
  border-radius: 10px;
  box-shadow: rgba(133, 215, 144, 0.88) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
  font-size: large;
  letter-spacing: 1px;
  font-family: var(--font-body);
  cursor: pointer;
}

.form .create-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(162, 238, 112, 0.88) 0px 23px 10px -20px;
}

.form .create-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.88) 0px 15px 10px -10px;
}
