/* src/styles/variables.css */
:root {
    --color-background: #FFFFFF;
    --color-background-secondary: #F3F3F3;
    --color-font-primary: #000000;
    --color-font-secondary: #979FA0;
    --color-blue: #009BE9;
    --color-green: #8CC928;
  
    --font-h1: "Roboto Black", sans-serif;
    --font-h2: "Roboto Medium", sans-serif;
    --font-body: "Roboto", sans-serif;
  
    --font-size-h1: 50px;
    --font-size-h2: 18px;
    --font-size-body: 15px;
  }
  