.container {
  background: linear-gradient(0deg, var(--color-background) 0%, #f4f7fb 100%);
  border-radius: 40px;
  padding: var(--spacing-2) calc(var(--spacing-2) + 10px);
  border: 5px solid var(--color-background);
  box-shadow: rgba(133, 189, 215, 0.88) 0px 30px 30px -20px;
  margin: var(--spacing-1);
  max-width: 400px;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: var(--color-blue);
  font-family: var(--font-body);
}

.form {
  margin-top: var(--spacing-1);
}

.form .input {
  width: 90%;
  background: var(--color-background);
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: var(--spacing-1);
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  font-size: var(--font-size-body);
  font-weight: 500;
  color: var(--color-blue);
  font-family: var(--font-body);
}

.form .input::placeholder {
  color: var(--color-font-secondary);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid var(--color-blue);
}

.form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a {
  font-size: 11px;
  color: var(--color-blue);
  text-decoration: none;
}

.form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, var(--color-blue), #12b1d1);
  color: var(--color-background);
  padding-block: 15px;
  margin: var(--spacing-1) auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.88) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.88) 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.88) 0px 15px 10px -10px;
}

.agreement {
  display: block;
  text-align: center;
  margin-top: var(--spacing-1);
}

.agreement a {
  text-decoration: none;
  color: var(--color-blue);
  font-size: 9px;
}
