.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  background-color: var(--color-background);
  border-radius: var(--spacing-1); 
  padding: var(--spacing-2); 
  max-width: 480px;
  width: 100%;
  position: relative;
  font-family: var(--font-body);
  margin: var(--spacing-1);
}

.closeButton {
  position: absolute;
  top: var(--spacing-1); 
  right: var(--spacing-1);
  background: none;
  border: none;
  cursor: pointer;
}

.closeIcon {
  width: 20px;
  height: 20px;
}

.title {
  font-family: var(--font-body);
  font-size: var(--font-size-h2); 
  color: var(--color-font-primary);
  margin-bottom: var(--spacing-1); 
}

.description {
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  color: var(--color-font-secondary);
  white-space: pre-wrap;
}
